.accountType {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.icon {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.cardNumber {
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.cardNumberContainer,
.content {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}
.cardNumberContainer {
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  color: #373737;
}
.content {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px 0 0;
}
.iconbars {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.topSection {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.balance {
  position: relative;
  font-size: 32px;
  line-height: 100%;
  color: #262626;
}
.accountcard {
  align-self: stretch;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #e8eae9;
  box-sizing: border-box;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  min-width: 280px;
  text-align: left;
  font-size: 16px;
  color: #a6a6a6;
  font-family: Inter;
}
