.avatarImageIcon {
  height: 58.5px;
  width: 59.1px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  background-color: #d9d9d9;
  display: flex;
}
.businessicon {
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  right: 13.45px;
  bottom: 0.5px;
}
.businessbadge {
  width: 19px;
  height: 19px;
  border-radius: 18px;
  background-color: #00e377;
  border: 2px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 2px;
  gap: 10px;
}

.badge {
  margin: 0 !important;
  position: absolute;
  right: 13.45px;
  bottom: 0.5px;
  border-radius: 18px;
  background-color: #00e377;
  border: 2px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  align-self: unset;
  height: auto;
  gap: 10px;
  z-index: 1;
}

.avatarImageParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 12px;
  box-sizing: border-box;
  position: relative;
  gap: 10px;
  width: auto;
  height: auto;
}

.josephYoh {
  line-height: 130%;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.frameParent {
  width: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 9px;
  line-height: normal;
  letter-spacing: normal;
  height: auto;
  text-align: center;
  font-size: 14px;
  color: #373737;
  font-family: "SF Pro Display";
  height: 103px;

}

.badge-normal {
  margin: 0 !important;
  position: absolute;
  right: 13.45px;
  bottom: 0.5px;
  border-radius: 18px;
  background-color: #E8E9E9;
  border: 2px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  align-self: unset;
  height: auto;
  gap: 10px;
  z-index: 1;
  color: #A6A6A6;
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 12.111px;
  font-weight: 600;
  line-height: 130%; 
  min-width: 20px;
  min-height: 20px;
}