.cardType,
.icon {
  position: relative;
}
.cardType {
  align-self: stretch;
  line-height: 100%;
  font-weight: 500;
}
.icon {
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.cardNumber {
  flex: 1;
  position: relative;
  line-height: 100%;
}
.cardNumberContainer,
.content {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}
.cardNumberContainer {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}
.content {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5px 0 0;
}
.chipIcon {
  width: 38px;
  position: relative;
  height: 30px;
  object-fit: cover;
}
.topSection {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.balance {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  line-height: 100%;
  color: #262626;
}
.bankingcard {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
  gap: 72px;
  background-image: url(/public/bankingcard@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: 16px;
  color: #373737;
  font-family: "SF Pro Display";
}
