.lineChart {
  flex: 1;
  border-radius: 11px;
  background-color: #fff;
  border: 1px solid #e8eae9;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  padding: 22px 29px 28px;
  gap: 27px;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  color: #a6a6a6;
  font-family: Inter;
  min-width: 350px;
  height: 388px;
}