.pieChart {
  border-radius: 11px;
  background-color: #fff;
  border: 1px solid #e8eae9;
  box-sizing: border-box;
  flex: 1;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 30px;
  gap: 50px;
  min-width: 350px;
  max-width: 350px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}
.innerPieChart {
  max-width: 288px;
  margin-left: auto;
  margin-right: auto;
}
.expenditure {
  position: relative;
  font-size: 26px;
  line-height: 100%;
  font-weight: 500;
  font-family: Inter;
  color: #373737;
  text-align: left;
  }
@media screen and (max-width: 800px) {
  .expenditure {
    font-size: 21px;
    line-height: 21px;
  }
  .pieChart {
    gap: 25px;
    max-width: 100%;
  }
}