.text,
.tickicon {
  position: relative;
}
.tickicon {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  display: none;
}
.text {
  flex: 1;
  line-height: 150%;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.iconwrapper {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.stateupload {
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #0F6CBD;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  box-sizing: border-box;
  gap: 10px;
  min-width: 260px;
}
.tickicon1 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  filter: brightness(0) saturate(100%) invert(31%) sepia(74%) saturate(1348%) hue-rotate(184deg) brightness(93%) contrast(96%);
}
.fileupload {
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: left;
  font-size: 16px;
  color: #373737;
  font-family: Poppins;
}
.delete {
  background-image: url(/public/delete.svg);
}
.chevron {
  background-image: url(/public/chevron.svg);
}
