.image1Icon {
  align-self: stretch;
  width: 140.8px;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  min-height: 36;
  display: flex;
  height: auto;
}
.image1Icon:hover {
  display: flex;
  width: 140.8px;
  align-self: stretch;
  height: auto;
  min-height: 36;
}
.needAnyHelp {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: flex;
  min-width: 103;
}
.needAnyHelp:hover {
  font-family: Inter;
  font-size: 14px;
  text-align: left;
  color: #00e377;
  display: flex;
  min-width: 103;
}
.iconamoonsearch {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20;
  display: flex;
}
.iconamoonsearch:hover {
  display: flex;
  width: 20px;
  height: 20px;
  min-height: 20;
}
.searchIconButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  width: auto;
  align-self: unset;
  height: auto;
}
.searchIconButton:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
}
.avatarIcon {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  background-color: #d9d9d9;
  display: flex;
}
.avatarIcon:hover {
  background-color: #d9d9d9;
  display: flex;
  width: 36px;
  height: 36px;
}
.searchIconButtonParent {
  border-left: 1px solid #525457;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 0px 13px;
  gap: 24px;
  width: auto;
  align-self: unset;
  height: auto;
}
.searchIconButtonParent:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 0px 13px;
  box-sizing: border-box;
}
.eng {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: flex;
  min-width: 29;
}
.eng:hover {
  font-family: "SF Pro Display";
  font-size: 14px;
  text-align: left;
  color: #fff;
  display: flex;
  min-width: 29;
}
.frameChild {
  height: 3.3px;
  width: 6.7px;
  position: relative;
  display: flex;
  border: 1.5px solid #a6a6a6;
  box-sizing: border-box;
}
.frameChild:hover {
  display: flex;
  width: 6.7px;
  height: 3.3px;
  border: 1.5px solid #a6a6a6;
  box-sizing: border-box;
}
.engParent {
  border-radius: 4px;
  background-color: #4a4a4a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 7px 4px 8px;
  box-sizing: border-box;
  gap: 6px;
  width: auto;
  align-self: unset;
  height: auto;
  color: #fff;
  font-family: "SF Pro Display";
}
.engParent:hover {
  background-color: #4a4a4a;
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 4px 7px 4px 8px;
  box-sizing: border-box;
}
.needAnyHelpParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  max-width: 100%;
  width: auto;
  align-self: unset;
  height: auto;
}
.needAnyHelpParent:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.image1Parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  height: auto;
}
.image1Parent:hover {
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}
.header {
  width: 100%;
  background-color: #262626;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px 80px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  height: auto;
  gap: 0px;
  text-align: left;
  font-size: 14px;
  color: #00e377;
  font-family: Inter;
}
.header:hover {
  background-color: #262626;
  display: flex;
  height: auto;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px 80px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}

@media only screen and (max-width: 1080px) {
  .header {
    padding: 14px 24px;
  }
}

@media only screen and (max-width: 750px) {
  .header {
    padding: 10px;
  }
  .needAnyHelp {
    display: none;
  }
  .engParent {
    display: none;
  }
  .searchIconButtonParent {
    border-left: unset;
  }
}
