.lineChart {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  padding: 22px 29px 28px;
  gap: 27px;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  color: #a6a6a6;
  font-family: Inter;
  min-width: 350px;
  height: 388px;
}