.pieChart {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  flex: 1;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 30px;
  gap: 34px;
  min-width: 350px;
  max-width: 350px;
  line-height: normal;
  letter-spacing: normal;
  display: flex;
  text-align: left;
}

.innerPieChart {
  align-items: center;
}

.expenditure {
  position: relative;
  font-size: 26px;
  line-height: 100%;
  font-weight: 500;
  font-family: Inter;
  color: #373737;
  text-align: left;
}

@media screen and (max-width: 800px) {
  .expenditure {
    font-size: 21px;
    line-height: 21px;
  }

  .pieChart {
    gap: 25px;
    max-width: 100%;
  }
}