.sidemenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 180px;
  max-width: 267px;
}

@media only screen and (max-width: 700px) {
  .sidemenu {
    max-width: 50px !important;
    min-width: 50px !important;
    overflow: visible;
    position: relative;
    z-index: 999;
  }
}