.textarea {
    display: flex;
    height: 119px;
    min-width: 260px;
    padding: 12px 16px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #BDBDBD;
    flex: 1 0 0;
    color: #C4C4C4;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 171.429% */
}

.textarea:hover {
    border: none;
    border:1px solid #1976d2 !important;
}
.textarea:focus {
    outline: 1px solid #1976d2 !important;
    border:1px solid #1976d2 !important;
  }