.container {
    display: inline-flex;
    align-items: flex-start;
    gap: 21px;
    height: fit-content;
}

.button {
    box-sizing: border-box;
    display: flex;
    width: 80px;
    height: 40px;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: #414141;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.selected {
    display: flex;
    width: 80px;
    height: 40px;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: #F3E0B5;
    color: #373C43;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    box-sizing: border-box;
}