.container {
    display: inline-flex;
    align-items: flex-start;
    gap: 21px;
    height: fit-content;
}

.button {
    box-sizing: border-box;
    display: flex;
    width: 80px;
    height: 40px;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    color: #373737;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    border: 1px solid #00E377;
}

.selected {
    display: flex;
    width: 80px;
    height: 40px;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: linear-gradient(94deg, #00E377 -21.66%, #00C7EE 153.67%);
    color: #373737;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    box-sizing: border-box;
}