.reportCharts {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px 0 0;
  box-sizing: border-box;
  gap: 24px 22px;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  color: #a6a6a6;
  font-family: Inter;
}

.row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0px 2px 0px 0px;
  box-sizing: border-box;
  gap: 16px 14px;
  max-width: 100%;
}